body {
  font-family: Verdana, Geneva, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5em;
  font-size: 16px;
  color: #F0E5ED;
  clear: both;
}

a,a:link,a:visited {
 color:#ee6677;
 }

 a,a:hover {
 color:#3E91A6;
}

/* Begin background image styling*/
body {
  background-image: url(https://raw.githubusercontent.com/mjschindler/mjschindler.github.io/master/images/golden%20gate%20bridge%2020%25%20opacity.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #7F8383;
}
/* End background image styling */

/* Begin Header tag styling */
h1 {
font-family: Helvetica Neu, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1em;
  color: #ee6677;
}

h2 {
font-family: Helvetica Neu, sans-serif;
  font-size: 32px;
  font-weight: normal;
  line-height: 1em;
  color: #0B232F;
}

h3 {
font-family: Helvetica Neu, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 1em;
  color: #0B232F;
}

h4 {
font-family: Helvetica Neu, sans-serif;
  font-size: 24px;
  font-weight: normal;
  line-height: 1em;
  color: #0B232F;
}

h5 {
font-family: Helvetica Neu, sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 1em;
  color: #0B232F;
}

h6 {
font-family: Helvetica Neu, sans-serif;
  font-size: 12px;
  line-height: 1em;
  color: #0B232F;
}

/*End Header Tag Styling*/

.margins {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }

  .text-center {
    text-align: center;
  }

#featured_img {
    max-width: 70%;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

/* Begin logo/header Styling */
   #title h5 {
      float: left;
      margin: 0 0 3em 0;
      padding: 1em;
    }

    #title a {
      text-decoration: none;
    }
   /* End logo/header styling. */

  /* Begin NEW navigation bar styling. */

      nav ul {
        font-family: Helvetica Neu, sans-serif;
        font-size: 14px;
       float: right;
        margin: 0 0 3em 0;
        padding: 0;
        list-style: none;
      }

      nav li {
        display:inline-block;
        padding: 1em;
      }

      nav li a {
      text-decoration: none;
    }

      nav li a:hover {
      color: #3E91A6;
    }

/* End NEW navigation bar styling. */


   /* Begin homepage call to action styling */

    .callToAction {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    }

    .callToAction h1 {
          color: #F0E5ED;
          font-weight: bold;
          line-height: 1em;
          text-transform: uppercase;
        }

    .callToAction h4 {
      color: #ee6677
    }


   /* End homepage call to action styling */

/* Begin homepage call to action transparent styling */
    .transparent {
      background:rgba(0,0,0,0.75);
      padding: 2em;
      border-radius: 10px;
}

.transparent h1 {
  color: #ee6677;
}

.transparent h2 {
  color: #ee6677;
}

.transparent h3 {
  color: #ee6677;
}

.transparent h4 {
  color: #ee6677;
}

.transparent h5 {
  color: #ee6677;
}

.transparent h6 {
  color: #ee6677;
}

/* End homepage call to action transparent styling */

    .transparentLight {
      background:rgba(255,255,255,0.5);
      padding: 2em;
      border-radius: 10px;
}

 /* Begin footer styling. */

      footer {
      position: absolute;
      bottom: 0px;
      right: 0px;
  }
      footer ul {
        font-family: Helvetica Neu, sans-serif;
        font-size: 12px;
        margin: 0 0 3em 0;
        padding: 0;
        list-style: none;
      }

      footer li {
        display:inline-block;
        padding: 1em;
      }

      footer li a {
      text-decoration: none;
    }

    footer li a:hover {
      color: #662244;
    }

/* End footer styling. */

/* Begin figure styling */

figure  {
  display: block;
  float: right;
}

figcaption {
  font-style: italic;
  font-size: .75em !important;
}

/* End figure styling */

/* Begin blockquote styling */

blockquote {
font-style: italic;
border-left: 5px solid #7F8383;
padding: 0.5em 10px;
}

/* End blockquote styling */